body {
    background-color: #E7F6F0;
}

#name {
    color: #2F5646;
    font-weight: bold;
    font-size: 24px;
}

.topnav {
    text-align: center;
    left: 200px;
}

.topnav a {
    line-height: normal;
    font-family: 'Eczar';
    font-size: 14px;
    color: #59866B;
    text-decoration: none;
    max-height: fit-content;
    margin-left: 30px;
    text-shadow: 0px 2px 4px gray;
}

.topnav a.active {
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 300px;
    width: 85px;
    height: 85px;
}

.home {
    background-color: #B0ECD4;
    width: 100%;
}

#titulo {
    border-top-width: 100px;
    font-size: 54px;
    font-family: 'Eczar';
    color: #2F5646;
    font-weight: bolder;
}

.phome {
    width: 630;
    margin-left: 75px;
    text-align: justify;
    font-family: 'Eczar';
    font-size: 24px;
    color: #2F5646;
    top: 20px;
}