body {
    background-color: #E7F6F0;
    width: auto;
    max-width: max-content;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}



/*Barra de navegación*/
.topnav {
    text-align: center;
}

.topnav a {
    line-height: normal;
    font-family: 'Eczar';
    font-size: 24px;
    color: #59866B;
    text-decoration: none;
    max-height: fit-content;
    margin-left: 40px;
    text-shadow: 0px 2px 4px gray;
    vertical-align: middle;
}

.topnav a.active {
    text-decoration: none;
}

.topnav .name {
    color: #2F5646;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
}

div.topnav img.logo {
    left: 300px;
    width: 85px;
    height: 85px;
}



/*Home*/
div.home {
    background-color: #B0ECD4;
    padding: 0px 0px;
    overflow: hidden;
}

.cuadro0 {
    float: left;
    margin-top: 50px;
}

h1 {
    line-height: normal;
    font-family: 'Eczar';
    color: #2F5646;
    font-weight: bold;
    font-size: 54px;
    margin-left: 20px;
    width: auto;
    margin: auto;
    text-align: left;
    position: static;
    margin-left: 50px;
}

h2 {
    line-height: normal;
    font-family: 'Eczar';
    color: #59866B;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.sobre-nosotros img.prototipo {
    vertical-align: middle;
    size: 370px 680px;
}

.home p {
    color: #2F5646;
    font-size: 24px;
    font-family: 'Eczar';
    text-align: left;
    line-height: 1;
    margin-left: 50px;
}

.home img.os {
    margin-left: 30px;
}

/*Sobre nosotros*/
.sobre-nosotros {
    background-image: url(assets/fondo02.png);
    background-repeat: no-repeat;
    padding: 0px 0px;
    text-align: center;
    overflow: hidden;
}

.cuadro1 {
    float: left;
}

.sobre-nosotros p {
    color: #5D886D;
    font-size: 36px;
    font-family: 'Eczar';
    text-align: left;
    line-height: 1;
}

div.sobre-nosotros img.logo-centro {
    vertical-align: middle;
    size: 276px 276px;
    margin-left: 90px;
    margin-top: 150px;
}

div.sobre-nosotros img.plato {
    margin-top: 350px;
    margin-bottom: 70px;
    vertical-align: middle;
    width: 510px;
    height: 360px;
}

/*Planes*/
.boxes {
    overflow: hidden;
    width: 100%;
}

.cuadro2 {
    width: 450px;
    height: 450px;
    border-radius: 10% 10% / 10% 10%;
    background: #E7F6F0;
    margin-left: 200px;
    background-image: url(assets/bloque-icon.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

li {
    line-height: normal;
    font-family: 'Eczar';
    color: #2F5646;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 50px;
}

h2.plan-precio {
    color: #2F5646;
    text-align: center;
    margin-left: 200px;
    margin-bottom: 50px;
}


img.mockup-app {
    margin-left: 30px;
    height: 630px;
    width: 360px;
}

/*Footer*/
.footer {
    background-color: #B0ECD4;
    max-width: none;
    padding-right: var(--container-spacing, 1rem);
    padding-left: var(--container-spacing, 1rem);
}

.contacto {
    overflow: hidden;
    width: 100%;
}

.cuadro3 {
    float: left;
    margin-left: 100px;
    margin-right: 40px;
    background-position: center top;
}

h3 {
    font-size: 22px;
    font-family: 'Eczar';
    font-weight: bold;
    color: #2F5646;
    margin-top: 100px;
    margin-bottom: 0px;
}

.contacto ul {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.contacto li {
    font-size: 18px;
    font-family: 'Eczar';
    color: #2F5646;
    font-weight: 100;
    list-style-type: none;
    text-align: left;
    margin-left: 0px;
}

#buscador {
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    font-size: 16px;
    font-family: 'Eczar';
    color: #2F5646;
    border-width: 0px;
    height: 40px;
    padding-left: 10px;
}

.footer a.btn-suscribir {
    background-color: #2F5646;
    font-size: 24px;
    font-family: 'Eczar';
    color: #E7F6F0;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 0px;
}

.icon {
    margin-right: 20px;
}

.logo-final {
    width: 95px;
    height: 95px;
}

.footer a {
    line-height: normal;
    font-family: 'Eczar';
    font-size: 14px;
    color: #59866B;
    text-decoration: none;
    vertical-align: middle;
}

.footer .name2 {
    color: #2F5646;
    font-weight: bold;
    font-size: 20px;
}

.copyright {
    color: #2F5646;
    font-size: 18px;
    margin-left: 0px;
}